<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Consejos de Salud</title>
<link rel= "stylesheet" th:href= "@{/css/estilos.css}">
</head>
<body>

<fieldset class="centrar">
	
	<section class="consejos">
	<a th:href="@{/consejos/Nuevo_Consejo}">nuevo consejo</a>
	<h2 class="color">Consejos de Salud</h2>
	<p>Nota: Solo se permiten cambios al cuerpo, en caso de error eliminar el consejo</p>
		<table> 
			<tr>
				<th>Titulo</th>
				<th>Consejo</th>
			</tr>
			<tr th:each="consej:${consejos}">
				<td th:text="${consej.titulo}"></td>
				<td th:text="${consej.consejo}"></td>
				<td>
					<a th:href="@{/consejos/editar/}+${consej.titulo}">Editar Contenido</a>
					<a th:href="@{/consejos/eliminar/}+${consej.titulo}">Eliminar</a>
				</td>	
			</tr> 
		</table>
	</section>
	</fieldset>
	
</body>
</html>
