<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Consejos de Salud</title>
</head>
<body>
	<h1>Consejos de Salud</h1>
	<section>
		<article>
			<h3>1-No subestimar la desparasitación</h3>
	<p>Las veterinarias Alicia Piorno (M.P559) y Graciela Carbajo (M.P472) coinciden en que desparasitar a los animales es un tema crucial para la salud de los animales y de las personas. </p>
	<p>"Existen enfermedades parasitarias como la hidatidosis, endémica de varias zonas del país, que se transmiten del animal al ser humano. Las personas infestadas sufren de quistes en los pulmones o el hígado que pueden provocar náuseas, tos crónica y hasta dolor en el pecho y el vientre", aseguran.</p>
	<p>Estas enfermedades se transmiten "en algunas zonas" cuando las personas les dan de comer a sus perros vísceras crudas de vaca, oveja o cerdo. "Esto es muy peligroso porque las vísceras pueden alojar a los parásitos que ocasionan esta enfermedad", explica Carbajo.</p>
	<p>Además, sostiene que el contagio puede darse a través del contacto estrecho o por las heces de los animales que pueden contaminar el agua, las verduras y hasta a otros animales.</p>
	<p>Por eso, las especialistas insisten en acciones simples de prevención: informarse para conocer los posibles focos de contagio; desparasitar a nuestros animales: la frecuencia depende de la zona del país donde nos encontremos, por eso es muy importante consultarlo con nuestro veterinario.</p>
	
		<h3>2- Los límites son necesarios para darles seguridad</h3>
	<p>"Para un perro, la familia que integra es su jauría y en una jauría existen jerarquías", explica Carbajo y continúa: "Si las personas no toman su liderazgo, es posible que el animal ocupe ese lugar. Cuando decidimos sumar un animal a la familia, es importante hablar entre todos de lo que está permitido y lo que no, y mantener esos acuerdos desde el primer momento".</p>
	<p>Los límites son necesarios para que ellos vivan en un ambiente seguro. "Un perro seguro es un perro feliz. En cambio, un ambiente sin límites le genera una inseguridad: el perro aúlla, salta y hasta muerde", advierte Piorno.</p>
	<p>Además, las profesionales coinciden en que "es muy triste ir de visita a una casa y ver al perro alejado en un rincón por su mala conducta"</p>
	
		<h3>3-El momento de jugar</h3>
	<p>"La falta de juego y de paseos provoca la mayoría de los problemas de conducta en los perros", asegura el instructor canino Juan Pablo Mastrángelo.</p>
	<p>Ambas actividades son fundamentales para el desarrollo integral de nuestro animal y muchas veces, no se les da la importancia que merecen.</p>
	<p>"Los perros descienden de los lobos y de allí proviene su necesidad imperiosa de cazar", explica Mastrángelo y amplía. "Tenemos en casa un cazador que no caza", por eso una manera de canalizar ese instinto es a través del juego consciente.</p>
	<p>"La persecución es una conducta típica de caza. Entonces, si atamos una pelota a un palo y hacemos que el perro la persiga, la pelota reemplaza a la presa y dejamos que el animal canalice su instinto hacia ese juguete", asegura".</p>
	<p>De esta manera, el perro se desarrolla en equilibrio con sus instintos.</p>
	
		<h3>4. Salir de paseo</h3>
	<p>Salir de paseo representa para el perro una actividad fuera de lo habitual: se encuentra con otros perros, con personas, se distrae y sociabiliza.</p>
	<p>"El paseo fortalece el vínculo con nuestro perro", enfatiza el entrenador y asegura que si no lo hace "cualquier cosa que pase en el ambiente es una gota que rebalsa el vaso y los desequilibra: se exacerban cuando saludan o son poco obedientes".</p>
		<p>La falta de paseo genera una sensación de encierro y aburrimiento, derivando en una mala conducta.</p>
	<p>Cuando el perro pasea ejercita un aspecto muy importante de su instinto cazador: el olfato. "Para ellos este sentido es como la vista para nosotros", sostiene Mastrángelo y recomienda dejarlos que olfateen lo que necesiten y no sacarlos bruscamente.</p>
	<p>"Es como si estuvieras leyendo una conversación de Whatsapp y de repente, te sacan el celular de las manos", explica.</p>
	
		<h3>5- No humanizar la alimentación de nuestro perro</h3>
	<p>Parece que este tema aún no está muy claro. "Los perros no pueden llevar la misma dieta que lleva un ser humano. La nutrición para ellos es diferente y no hay que humanizarlos en este sentido", explica la veterinaria Carbajo.</p>
	<p>"Nuestro perro puede estar alimentado en su familia decida: alimento balanceado o casero, ambos son una buena opción", agrega Piorno.</p>
	<p>Al respecto, la médica añade: "La comida casera no es solamente carne, arroz o polenta. Muchas veces, la gente no tiene el tiempo necesario para prepararle comida y terminan comiendo polenta en su plato y eso no es sano para nuestro compañero".</p>
	
		<h3>6- Tratar al perro como un perro</h3>
	<p>Este punto puede ser uno de los más complejos sobre todo porque actualmente nuestros animales están ocupando el lugar completo de una familia.</p>
	<p>"Los perros son maravillosamente perros", enfatiza Piorno y explica que tratarlos con criterios humanos no es sano para ellos. "Los perros no piensan como nosotros y no eligen en base a nuestros criterios. Ellos son más simples"</p>
	<p>Por eso, asegura la médica que "humanizarlos es pensar que hace cosas por venganza o a propósito y esas actitudes son humanas, no caninas", explica.</p>
	<p>Sin embargo, hay otros motivos por los que los perros hacen lío: pueden estar aburridos o sentirse inseguros. "A veces prefieren una corrección de nuestra parte antes que la indiferencia", dice Piorno.</p>
	<p>Luego de una relación de miles de años, domesticación mediante, aún es necesario conocer a nuestros animales e intentar entender su lenguaje para fortalecer este vínculo genuino de amor y respeto.</p>
	</article>
	</section>
	<p><a href="index.html">Atrás</a>
</body>
</html>