<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
    	<meta charset="UTF-8">
   		<title>Contactanos</title>
    <link rel= "stylesheet" th:href="@{/css/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}">	
		
		</header>
		<fieldset class="productos">
		
			
			<section class="productos">
				<a th:href="@{/contacto/nuevo}">Nuevo Contacto</a>
				<h2>Contacto </h2>
				
					<table>
						<tr>
							<th> Nombre</th>
							<th> Correo</th>
							<th> Ciudad</th>
							<th> Mensaje</th>
							<th> Acciones</th>
						</tr>
						
						<tr th:each="contac: ${contacto}">
							<td th:text= "${contac.nombre}"></td>
							<td th:text= "${contac.correo}"></td>
							<td th:text= "${contac.ciudad}"></td>
							<td th:text= "${contac.mensaje}"></td>
							<td>
								<a th:href ="@{/contacto/editar/}+${contac.nombre}">Editar</a>
								<a th:href ="@{/contacto/eliminar/}+${contac.nombre}">Eliminar</a>
							</td>
							
						
						
						</tr>
					</table>
						
			</section>
		</fieldset>
		<footer th:replace="~{layouts/footer :: footer}"></footer>>
	</body>
</html>
