<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Inicio</title>
			<link rel= "stylesheet" th:href="@{/css/estilos.css}">
			
		</head>
		
		<body>
			
				
				
				<header th:replace="~{layouts/header :: header}"> </header>	
				<div class= centrar>
						<img  th:src="@{/images/imagenindex.jpg}" >
					
			
					<section>
					
						
						<p class= indexfont> Nuestro Principal meta es asegurarnos de que los animales esten felices, saludables y seguros. Ademas tambien
						nos preocupamos por la satisfación de sus dueños. Ofrecemos servicios personalizados y de alta calidad para satisfacer
						las necesidades de tus mascotas.</p>
															
					</section>
					<aside>				
						<p>Facebook:CuidamosTusAnimalesG20</p>
						<p>Instagram:CuidamosTusAnimalesG20</p>
						<p>Twitter:CuidamosTusAnimalesG20</p>
						<p>Tik Tok:CuidamosTusAnimalesG20</p>
					
		    		</aside>
	   	 </div>	
		<footer>
		<p>Copyright 2023 - Servicio en el cuidado de tus mascotas - Diseñado por Grupo 20 – Jujuy – República Argentina</p>
		</footer>
		</body>
	</html>