<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Inicio</title>
			<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
			<link rel= "stylesheet" th:href="@{/css/estilos.css}">
			
		</head>
		
		<body>
	
				<nav th:replace="~{layouts/header :: header}"> </nav>	
				
				
							
				
				
			<div class="container-lg fondo">
				<div class= centrar>
						<img  th:src="@{/images/imagenindex.jpg}" class="img-fluid"   width="500px" height="315px">
					
			
					<section>
					
						
						<p class= indexfont> Nuestro Principal meta es asegurarnos de que los animales esten felices, saludables y seguros. Ademas tambien
						nos preocupamos por la satisfación de sus dueños. Ofrecemos servicios personalizados y de alta calidad para satisfacer
						las necesidades de tus mascotas.</p>
															
					</section>
					<aside>				
						<p>Facebook:CuidamosTusAnimalesG20</p>
						<p>Instagram:CuidamosTusAnimalesG20</p>
						<p>Twitter:CuidamosTusAnimalesG20</p>
					
		    		</aside>
	   			 </div>	
	   		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		</body>
	</html>