<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Inicio</title>
		</head>
		
		<body>
				<h1>Grupo Numero 20</h1>
				<p></p>
				<img alt="Servicio en el cuidado de las mascotas" src="../static/images/imagenindex.jpg" width="600" height="315">
				
				
				<section>
				
					<article>
					<p> Nuestro Principal meta es asegurarnos de que los animales esten felices, saludables y seguros. Ademas tambien
					nos preocupamos por la satisfación de sus dueños. Ofrecemos servicios personalizados y de alta calidad para satisfacer
					las necesidades de tus mascotas.
					</article>
					
					
					<nav>
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="productos.html"> Productos</a></li>
							<li><a href="consejos.html">Consejos de Salud</a></li>
							<li><a href="servicio.html">Servicio de Paseos</a></li>
							<li><a href="sucursales.html">Sucursales</a></li>
							<li><a href="contacto.html">Contáctanos</a></li>
						</ul>
					</nav>
				</section>
				<aside>
			Redes:
				<ul>
					<li>Facebook:CuidamosTusAnimalesG20</li>
					<li>Instagram:CuidamosTusAnimalesG20</li>
					<li>Twitter:CuidamosTusAnimalesG20</li>
					<li>Tik Tok:CuidamosTusAnimalesG20</li>
				</ul>
	    </aside>
		<footer>
		Copyright 2023 - Servicio en el cuidado de tus mascotas - Diseñado por Grupo 20 – Jujuy – República Argentina
		</footer>
		</body>
	</html>