<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel= "stylesheet" th:href="@{/css/estilos.css}">
		<title>Formulario_Nuevo_Contacto</title>
	</head >
	<body>
		<header th:replace="~{layouts/header :: header}">	
		
		</header>	
    
    	<div class="container-lg mt-4 desbordar fondo centrar-form">
    		<div class="row">
    			<div class="col p-5">
    				<h1>Contáctanos</h1>
			        <p></p>
			       		 Gral. Balcarce 367, Y4600 San Salvador de Jujuy, Jujuy
			        <ul style="list-style: none;">
			            <li><a href="https://www.facebook.com/">Facebook</a></li>
			            <li><a href="https://www.instagram.com/">Instagram</a></li>
			            <li><a href="https://twitter.com">Twitter</a></li>
			        </ul>
			    	<fieldset>
			        <hr> 
			        	<section>
					        	<form th:action="${editar}? @{/contacto/editar}: @{/contacto/guardar}" th:object="${contacto}" method="post">
					            	<label for="nombre">Nombre:</label>
					            	<input type="text" id="nombre" name="nombre" th:field="*{nombre}">
					            	<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
					            	<label for="correo">Correo:</label>
					            	<input type="text" id="correo" name="correo" th:field="*{correo}">
					            	<div class="text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></div>
					            	<label for="ciudad">Ciudad:</label>
					            	<input type="text" id="ciudad" name="ciudad" th:field="*{ciudad}">
					            	<div class="text-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></div>
					            	<label for="mensaje">Mensaje:</label>
					            	<textarea id="mensaje" name="mensaje" rows="5" cols="30" th:field="*{mensaje}"></textarea><br><br>
					       	    	<div class="d-grid">
									 	<button type="submit" th:text="${editar}?'Editar': 'Agregar Sucursal'"></button><br><br>
										<p></p>
									</div>
					    		</form>
				    	</section>
			   		</fieldset>
			   	</div>
		   	</div>
    	</div>
   
		<footer th:replace="~{layouts/footer :: footer}"></footer>>
	</body>
</html>