<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel= "stylesheet" th:href="@{/css/estilos.css}">
		<title>Formulario_Nuevo_Contacto</title>
	</head >
	<body>
		<header th:replace="~{layouts/header :: header}">	
		
		</header>	
    
    	<div class= centrar>
	    	<fieldset>
	      		<h1>Contáctanos</h1>
	        	<p></p>
	       			 Gral. Balcarce 367, Y4600 San Salvador de Jujuy, Jujuy
	        	<ul style="list-style: none;">
	            	<li><a href="https://www.facebook.com/">Facebook</a></li>
	            	<li><a href="https://www.instagram.com/">Instagram</a></li>
	            	<li><a href="https://twitter.com">Twitter</a></li>
	        	</ul>
	        	<hr>
	        	<form th:action="${editar}? @{/contacto/editar}: @{/contacto/guardar}" th:object="${contacto}" method="post">
	            	<label for="nombre">Nombre:</label>
	            	<input type="text" id="nombre" name="nombre" th:field="*{nombre}"><br><br>
	            	<label for="correo">Correo:</label>
	            	<input type="email" id="correo" name="correo" th:field="*{correo}"><br><br>
	            	<label for="ciudad">Ciudad:</label>
	            	<input type="text" id="ciudad" name="ciudad" th:field="*{ciudad}"><br><br>
	            	<label for="mensaje">Mensaje:</label>
	            	<textarea id="mensaje" name="mensaje" rows="5" cols="30" th:field="*{mensaje}"></textarea><br><br>
	       	    	<a> <input type="submit" th:value="${editar}?'Editar': 'Agregar Contacto'"/> </a>
	    		</form>
	   		</fieldset>
    	</div>
   
		<footer th:replace="~{layouts/footer :: footer}"></footer>>
	</body>
</html>