<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel= "stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    			<header>				
					<img class=logo alt="logo" src="../static/images/pellegrini.png">			
					<h1>Grupo Numero 20</h1>
					<nav>						
							<a href="index.html">Inicio</a>
							<a href="productos.html"> Productos</a>
							<a href="consejos.html">Consejos de Salud</a>
							<a href="servicio.html">Servicio de Paseos</a>
							<a href="sucursales.html">Sucursales</a>
							<a href="contacto.html">Contáctanos</a>						
					</nav>
				</header>
    <h1>Productos</h1>

    <section id="content-producto">
    		<a th:href="@{/producto/nuevo}">Nuevo Producto</a>
    		<table>
    				<tr>
    						<th>Nombre</th>
    						<th>Categoria</th>
    						<th>Codigo</th>
    						<th>Precio</th>
    						<th>Descuento</th>
    						<th>Precio con Descuento</th>
    						<th>Acciones</th>
    				</tr>
    				<tr th:each="prod: ${productos}">
    					<td th:text="${prod.nombre}"></td>
    					<td th:text="${prod.categoria}"></td>
    					<td th:text="${prod.codigo}"></td>
    					<td th:text="${prod.precio}"></td>
    					<td th:text="${prod.descuento}"></td>
    					<td th:text="${prod.precioConDescuento}"></td>
    					
    					<td>
    						<a th:href="@{/producto/editar/}+${prod.codigo}">Editar</a>
    						<a th:href="@{/producto/eliminar/}+${prod.codigo}">Eliminar</a>
    					</td>
    					
    				</tr>
    		</table>
         </section>
</body>
