<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Productos</title>
</head>
<body>
<h1>Productos</h1>
<section>
	<article>
		<ul>
			<li>Maintenance Criadores Perro Adulto X 22 Kg
			<img alt="Maintenance Criadores Perro Adulto X 22 Kg" src="../static/images/comida.jpeg" width="60" height="60">
			</li>
			<li>Collar Antipulgas Tea 327 Perros Grandes
			<img alt="Collar Antipulgas Tea 327 Perros Grandes" src="../static/images/collar.jpeg" width="60" height="60">
			</li>
			<li>Set de juguetes para perros
			<img alt="Set de juguetes para perros" src="../static/images/juguetes.jpeg" width="60" height="60">
			</li>
			<li>Bolsa de resuiduos para mascotas
			<img alt="Bolsa de resuiduos para mascotas" src="../static/images/bolsa.jpg" width="60" height="60">
			</li>
			<li>Comedero y bebedero automatico
			<img alt="Comedero y bebedero automatico" src="../static/images/comedero.png" width="60" height="60">
			</li>
		</ul>
	</article>

</section>
<p><a href="index.html">Atrás</a>
</body>
</html>