<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" th:href="@{/css/estilos.css}">
    <title>Document</title>
</head>
<body>

<header th:replace="~{layouts/header :: header}"></header>

 <section  class=productos>
    <h2 >Horarios de Paseo</h2>
    <a th:href="@{/servicios/nuevo}">Nuevo Paseador</a>
    <table border="1" >
        <tr>
          <th>Id</th>
          <th>Nombre del Paseador</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
            <th>Edicion</th>
          
        </tr>
        <tr th:each="serv: ${servicios}">
         
          <td th:text= "${serv.id}"></td>
          <td th:text= "${serv.nombre}"></td>
          <td th:text= "${serv.lunes}"></td>
          <td th:text= "${serv.martes}"></td>
          <td th:text= "${serv.miercoles}"></td>
          <td th:text= "${serv.jueves}"></td>
          <td th:text= "${serv.viernes}"></td>
          
          <td>
				<a th:href ="@{/servicios/editar/}+${serv.id}">Editar</a>
				<a th:href ="@{/servicios/eliminar/}+${serv.id}">Eliminar</a>
				
		</td>
         
        </tr>
       
</table>
</section>

	<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>