<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel= "stylesheet" th:href="@{/css/estilos.css}">
    <title>Document</title>
</head>
<body>

<header th:replace="~{layouts/header :: header}"></header>


 <div class="container-lg fondo mt-5">
 	<a class="links" th:href="@{/servicios/nuevo}">Nueva Paseador</a>
				<h2 class="color-font">Servicio de Paseos </h2>
        <table class="table">
            <caption>Lista de Paseadores Disponibles</caption>
            <thead>
                <tr>
                    <th id="borde">ID</th>
                    <th id="borde">Nombre del Paseador</th>
                    <th id="borde">Lunes</th>
                    <th id="borde">Martes</th>              
                    <th id="borde">Miercoles</th>
                    <th id="borde">Jueves</th>
                    <th id="borde">Jueves</th>
                    <th id="borde">Edicion</th>
                    
                </tr>
            </thead>
            <tbody>
              
                  <tr th:each="serv: ${servicios}">
							<td id="borde" th:text= "${serv.id}"></td>
							<td id="borde" th:text= "${serv.nombre}"></td>
							<td id="borde" th:text= "${serv.lunes}"></td>
							<td id="borde" th:text= "${serv.martes}"></td>
							<td id="borde" th:text= "${serv.miercoles}"></td>
							<td id="borde" th:text= "${serv.jueves}"></td>
							<td id="borde" th:text= "${serv.viernes}"></td>
							
							<td>
								<a class="links" th:href ="@{/servicios/editar/}+${serv.id}">Editar</a>
								<a class="links" th:href ="@{/servicios/eliminar/}+${serv.id}">Eliminar</a>
							</td>
						</tr>                               
            </tbody>
        </table>
    </div>

	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>