<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Pagina sucursales</title>
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel= "stylesheet" th:href="@{/css/estilos.css}">
	</head>
	<body>
		<nav th:replace="~{layouts/header :: header}"> </nav>	
		
		<div class="container fondo mt-5">
			<div class="row">
				<div class="col-xs-4 col-sm-8 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
					<a class="links" th:href="@{/sucursales/nuevo}">Nueva Sucursal</a>
					<h2>Lista Sucursales</h2>
					
				<div class="card mb-3 d-inline-block fondo" style="max-width: 540px;" th:each="sucu: ${sucursal}">
					  <div class="row g-0">
					    <div class="col-md-4">
					      <img th:src="@{/images/gugul3.png}"  class="img-fluid rounded-start" alt="...">
					      
					    </div>
					    <div class="col-md-8">
					      <div class="card-body">
					        <h5 class="card-title" th:text= "${sucu.nombre}"></h5>
					        <p class="card-text" th:text= "${sucu.provincia}"></p>
					        <p class="card-text" th:text= "${sucu.direccion}"></p>
					         <p class="card-text" th:text= "${#temporals.format(sucu.fecha,'dd/MM/yyyy')}"></p>
					          <p class="card-text" th:text= "${sucu.correo}"></p>
					        <a class="card-text links"  th:href ="@{/sucursales/editar/}+${sucu.id}"><small class="text-muted">Editar</small></a>
					         <a class="card-text links"  th:href ="@{/sucursales/eliminar/}+${sucu.id}"><small class="text-muted">Eliminar</small></a>
					      </div>
					    </div>
					  </div>
					</div>
				
				
		</div>
		</div>	
		</div> 
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>
