<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Pagina sucursales</title>
		<link rel= "stylesheet" th:href="@{/css/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}">	
		
		</header>

		<fieldset class="productos">
		
			
			<section class="productos">
				<a th:href="@{/sucursales/nuevo}">Nueva Sucursal</a>
				<h2>Sucursales </h2>
				
					<table>
						<tr>
							<th> Nombre</th>
							<th> Direccion</th>
							<th> Provincia</th>
							<th> Fecha abertura</th>
							<th> Correo</th>
							<th> Telefono</th>
							<th> Edicion de Datos</th>
						</tr>
						
						<tr th:each="sucu: ${sucursales}">
							<td th:text= "${sucu.nombre}"></td>
							<td th:text= "${sucu.direccion}"></td>
							<td th:text= "${sucu.provincia}"></td>
							<td th:text= "${#temporals.format(sucu.fecha,'dd/MM/yyyy')}"></td>
							<td th:text= "${sucu.correo}"></td>
							<td th:text= "${sucu.telefono}"></td>
							<td>
								<a th:href ="@{/sucursales/editar/}+${sucu.nombre}">Editar</a>
								<a th:href ="@{/sucursales/eliminar/}+${sucu.nombre}">Eliminar</a>
							</td>
							
						
						
						</tr>
					</table>
						
			</section>
		</fieldset>
		<footer th:replace="~{layouts/footer :: footer}"></footer>>
	</body>
</html>
