@charset "UTF-8";
	
	 /*Regla_global */
	*{
		margin: 0px;
		padding: 0px;
	}
	
	html {
		height: 100%;
	}	
	
	/*Color de la Fuente del Menu*/
	.indexfont{ 
		color: black;
		font-size: 25px;
		font-family: "Roboto Mono", monospace;
		
	}

	/*Establece_un_fondo_al_cuerpo */
	body{
		background-image: url(https://cdn.wallpapersafari.com/47/65/OwZ1UY.jpg);
		background-repeat: no-repeat;
		background-position: top right;
		background-attachment: fixed;
		background-size: cover;
		
		display: flex;
		flex-direction: column;
		min-height: 100%;
		}
	 
	 /*Color de los Links */
	.nav-link{
	 		
		color: white;	
		transition:0.5s;
		
	 }
	/*Color de los Links al poner el cursor encima*/
	.navbar a:hover{
		letter-spacing: 0.25em;
		color:white;
		font-weight:800;
	}
	
	/*tamaño del logo del header*/
	 .logo{
		height: 65px;
	 
	}
	
	/*Estilos para el Footer*/
	 footer{
	 	margin-top: auto;
	 	background-color:  #02581d;
	 	font-size: 20px;
		color: white;
		text-align: center;
	 }
	/*Fondo Opaco para todas paginas*/
	.fondo{
		background-color: rgba(255,255,255,0.4);
		justify-content: center;
		align-items: center;
		
	}
	
	/*Centra el contenido del contenedor siempe en el medio*/
	.container-lg aside{
		display: flex;
		justify-content: space-between;		
		color: black;
		align-items: center;
		position: auto;
		left: 0;
		top: 0;
		width: 100%;	
	}
	.centrar{ /* esta clase permite centrar la imagen del index sin pisar el header */
		background: rgba(255,255,255,0.4);
		height: 70vh;		
		margin: 5%;
		backdrop-filter: blur(1px);
		
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		
	}
	/* Boton responsivo para los formularios*/
	.d-grid button,.d-grid button:hover {
	border-bottom-color:Black;
	border-top-color:Black;
	border-left-color:Black;
	border-right-color:Black;
	background-color: rgba(255,255,255,0.5);
   }
   
   .desbordar{
  /* Control de la altura con base en el texto del div*/
	  height: auto;
	  word-wrap: break-word;
	  
   }
   /*Centra el contenido de los Formularios*/
   .centrar-form{
   		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
   
   }
   /*Color de fuente*/
   .color-font{
   	align-content:center;
   	align-items:center;
   	display:flex;
   	flex-direction:column;
   	color:Black;
   }   
   /*Color de los Links en divs*/
   div .links{
   color:black;
   font-size: 20px;
   } 
   /*Color del Hover de un link*/
   div .links:hover{
   color:white;
   font-size: 20px;
   } 
   
 			/*  Desde aqui son Estilos para las tablas de formulario */  
/*Estilo para tablas*/ 			
.table {
    width: 100%;
    border: 1px  rgb(0, 0, 0);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
/*Estilo al mover cursor en la tabla*/
.table caption {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
    color:Black;
}

.table tr {
    background-color:  rgba(255,255,255,0.6);
    border: 1px solid rgb(0, 0, 0);
}
/*Alineacion del texto de una tabla*/
.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
   
}

/*Alinea los encabezados y estilos*/
.table thead th{ 
    text-transform: uppercase;
    background-color: #02581d;
     
     color: white;
}

#borde{
	border: 1px solid rgb(0, 0, 0);
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


@media screen and (max-width: 600px) { /*Esto ajusta la tabla en caso de tener la pantalla chica */
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}
 /*  Aqui termina los estilos para la tablas*/  